nav {
    background-color: rgb(238, 238, 238);
}



nav ul {
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

li {
    text-decoration: none;
}